{{!-- Landing Page --}}
<div class="inbox">
  <div class="side">
    <ul class="side-items">
      {{!-- <li>{{#link-to 'chefs'}}Chefs{{/link-to}}</li> --}}
      {{!-- {{#link-to 'orderpages'}}Daily Menu{{/link-to}} --}}
      {{!-- <li>{{#link-to 'orders'}}Your Orders{{/link-to}}</li> --}}
    </ul>
  </div>
</div>
{{!-- Hallelujah

{{#side-menu width="300px" side="right"}}
    <nav class="sm-item-list">
        {{!-- <a href=""> --}}
        {{!-- {{#link-to 'chefs'}}
            <i class="fa fa-fw fa-star-o"></i>
            <span>Chefs</span>
        {{/link-to}}
        {{!-- </a> --}}
        {{!-- <a href=""> --}}
        {{!-- {{#link-to 'menus'}}
            <i class="fa fa-fw fa-bell-o"></i>
            <span>Daily Menu</span>
        {{/link-to}}
        {{!-- </a> --}}
        {{!-- <a href=""> --}}
        {{!-- {{#link-to 'chefs'}}
            <i class="fa fa-fw fa-envelope-o"></i>
            <span>Orders</span>
        {{/link-to}}
        {{!-- </a> --}}
    {{!-- </nav>
{{/side-menu}}
{{#side-menu-toggle}}
    {{!-- <span class="glyphicon glyphicon-menu-hamburger"></span> --}}
    {{!-- {{hamburger-menu}} --}}
{{!-- {{/side-menu-toggle}}
{{content-backdrop}} --}}

{{!-- Jeff Buckley --}}

{{!-- {{outlet}} --}}

{{!-- <div class='about'>
  <p>
    LunchBox changes the way you experience home-delivered food! We bring you an
    awesome gourmet food experience , from the kitchens of talented  chefs in your
    area, who are encouraged to put their own creations on the menu as specialty
    items, which usually highlight hyper-local, seasonal fare.
    With food made from 100% non-GMO, organic ingredients, and clean proteins, we
    offer you tons of great options for lunch or dinner!
  </p>
</div> --}}
