Landing Page
<div class="inbox">
  <div class="side">
    <ul class="side-items">
      {{!-- <li>{{#link-to 'chefs'}}Chefs{{/link-to}}</li> --}}
      {{!-- {{#link-to 'orderpages'}}Daily Menu{{/link-to}} --}}
      {{!-- <li>{{#link-to 'orders'}}Your Orders{{/link-to}}</li> --}}
    </ul>
  </div>
</div>
