<label for="usertype">User Type</label>
{{input type="usertype"
        id="usertype"
        placeholder="usertype"
        value=usertype}}

{{!-- <select onchange={{action 'selectUserType' value='target.value'}}>
  <option value='chef'>Chef</option>
  <option value='customer'>Customer</option>
</select> --}}
